.addUserForm {
  width: fit-content;
}

.formGroup {
    display: flex;
    margin-bottom: 10px;
  }

.formLabel {
  width: 180px;
  text-align: left;
  margin-right: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: end;
}