
.backButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0px;
  margin-right: 0;
  text-align: left;
  font-family: Avenir;
  font-size: medium;
  border: none;
  background-color: white;
}

.backButton:hover {
  color: #595959;
  background-color: white;
  border: none;
}