.successDialog {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #E6F4D0;
  padding: 16px;
  border: 1px solid #9AD569;
  border-radius: 50px;
  text-align: center;
}
